








						
						.err
						{
							background-color: rgb(255,20,20) ; 
							color :	white ; 

						}
						.lb
						{
							color : white ; 
							font-size : 20pt ;
						}
						.lbr
						{
              color : white ; 
              font-size : 14pt ; 
						}
						.headerlb
						{
              font-size : 40pt ;
              text-align : center ; 
              color : black ;  
						}
						.formlb
						{
              color : white ;
              font-size : 50pt ;
						}
						